@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 15px;
    color: white;
    font-family: 'Arvo', serif;
}

.navbar-nav {
    display: inline-block;
}

.navbar-default {
    text-align: center;
}

nav {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    max-width: 100%;
}

.btn {
    padding: 5px;
}

.card {
    border: solid black 1px;
}

#five-day-forecast {
    display: flex;
    flex-direction: row;
}

#forecast-box {
    border: solid black 1px;
    padding: 20px;
    display: none;
    max-width: fit-content;
}